// -------------------- darck --------------------

// ----------- main ----------
$bgMain: #0f0f0f;
$clMain: #f1f1f1;
$clTitle: #f1f1f1;
$clText: #f1f1f1;
$clBtn: #f1f1f1;
$clBtnSend: #f1f1f1;
$clAboutIcon: #f1f1f1;
$clOutLine: #f1f1f1;
// ----------- /main ----------
// ----------- nav ----------
$bgNavIcon: #f1f1f1;
$bgNav: #0f0f0f;
$clNavLink: #f1f1f1;
$clNavLinkHover: rgb(255, 255, 255, 0.75);
// ----------- /nav ----------
// ----------- social ----------
$clSocLink:rgb(255, 255, 255, 0.9);
$clSocLinkHover:rgb(255, 255, 255, 0.7);
// ----------- /social ----------
// ----------- form ----------
$clFormInput: #f1f1f1;
$bgFormInput: rgb(34, 34, 34);
$clFormPlaceholder: rgb(251, 250, 245, 0.8);
// ----------- /form ----------

//-------------------- /darck --------------------