$font-family-one: 'Krona One', sans-serif;
$font-weight-one: 400;

// ---------- nav ----------
$font-nav-size: 3em;
$font-nav-height: 2em;
// ---------- /nav ----------
// ---------- title ----------
$font-title-size: 58px; 
$font-title-height: 72px; 
// ---------- /title ----------
// ---------- text ----------
$font-text-size: 18px;
$font-text-height: 21px;
// ---------- /text ----------
// ---------- btn ----------
$font-btn-size: 24px;
$font-btn-height: 31px;
// ---------- /btn ----------
// ----------- form ----------
$font-form-size: 18px;
$font-form-height: 22px;
// ----------- /form ----------