.footer {
	min-height: 750px;

	padding-top: 50px;
	padding-bottom: 10px;

	&__wrap {
		@include flex(space-between, flex-start);
	}

	&__content { }

	&__title {
		margin-bottom: 35px;
	}

	#map {
		width: 600px;
		height: 600px;

		display: block;

		margin-top: 25px;
		padding: 50px;

		border: 5px solid $clFormInput;
	}

	#map.active {opacity: 0;display: none;}
}

@media (max-width: $mediaTablet) {

	.footer {

		padding-bottom: 10px;
		min-height: 750px;
		text-align: center;

		&__wrap {
			@include flex(center, flex-start);
		}

		#map {
			display: none;
		}
	}
}

@media (max-width: $mediaMoibil) {
	
	.footer {

		&__title {
			@include font(45px, 54px);
			width: 100%;
		}
	}
}