.portfolio {

	min-height: 900px;

	padding-top: 50px;
	padding-bottom: 50px;

	&__title {
		margin-bottom: 30px;
	}

	&__text { }

	&__project {
		max-width: 1560px;
		margin: 0 auto;
		margin-top: 50px;
		@include flex(center, center);
		flex-wrap: wrap;
	}

	&__item {
		width: 300px;
		height: 320px;

		overflow: hidden;

		@include flex(center, center);
		@include font(48px, 62px);
		color: #f1f1f1;
		margin: 5px;

		h1 {
			height: 100%;
			display: flex;
			@include flex(center, center);
		}

		a {
			width: 100%; height: 100%;
			display: block;
		}

		@media (max-width: 1242px) {
			&:not(:nth-child(-n + 6)) {
				display: none;
			}
		}

		@media (max-width: 941px) {
			&:not(:nth-child(-n + 4)) {
				display: none;
			}
		}

		@media (max-width: 615px) {
			&:not(:nth-child(-n + 3)) {
				display: none;
			}
		}
	}

	&__project &__item:nth-child(1) a {
		background-image: url('../img/p01.png');
		background-repeat: no-repeat; background-size: contain;
		background-position: center 12px; background-color: #ffffff;
	}

	&__project &__item:nth-child(2) a {
		background-image: url('../img/p02.png');
		background-repeat: no-repeat; background-size: contain;
		background-position: center center;
	}

	&__wrap__btn {

		@include flex(center, center);
		padding-top: 30px;
		display: none;

		@media (max-width: 1242px) {display: flex;}
	}

	&__btn { }
}

@media (max-width: $mediaTablet) {

	.portfolio {

		padding-bottom: 60px;
		text-align: center;
	}
}

@media (max-width: $mediaMoibil) {

	.portfolio {

		padding-bottom: 0px;

		&__project {
			margin-top: 40px;
		}
	}
}