.ticker-wrap {
  
  height: 50px;

  padding-left: 100%; width: 100%; box-sizing: content-box;

  .ticker {
    padding-right: 100%; display: inline-block; 
    white-space: nowrap; box-sizing: content-box;
    
    animation: ticker 60s linear infinite;

    &__item {
      display: inline-block;
      @apply text-[30px] px-[20px];
    }
  }
}

@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); visibility: visible; }
  100% { transform: translate3d(-100%, 0, 0); }
}