// -------------------- darck --------------------

// ----------- main ----------
$bgMain: #181A18;
$clMain: #FBFAF5;
$clTitle: #FBFAF5;
$clText: #FBFAF5;
$clBtn: #FBFAF5;
$clAboutIcon: #FBFAF5;
// ----------- /main ----------
// ----------- nav ----------
$bgNavIcon: #FBFAF5;
$bgNav: #181A18;
$clNavLink: #FBFAF5;
$clNavLinkHover: rgb(251, 250, 245, 0.7);
// ----------- /nav ----------
// ----------- social ----------
$clSocLink:#FBFAF5;
$clSocLinkHover: rgb(251, 250, 245, 0.7);
// ----------- /social ----------
// ----------- form ----------
$clFormInput: #FBFAF5;
$bgFormInput: #181A18;
$clFormPlaceholder: rgb(251, 250, 245, 0.8);
// ----------- /form ----------

//-------------------- /darck --------------------